:root {
  --font-family: 'Montserrat', sans-serif;

  --bg-body: #fafafa;
  --bg-hero: rgba(17, 17, 17, 0.6);
  --bg-benefits: #1e1823;
  --bg-footer: #1e1823;
  --bg-price: #fafafa;
  --bg-accent-primary: #fd9222;
  --bg-accent-secondary: #ffffff;
  --bg-accent-tertiary: #1e1823;
  --bg-accent-quaternary: #fcf1e0;

  --text-primary: #111111;
  --text-secondary: #ffffff;
  --text-tertiary: rgba(255, 255, 255, 0.7);
  --text-quaternary: rgba(17, 17, 17, 0.7);
  --text-accent: #fd9222;
  --text-overlay: #fafafa;

  --border-primary: rgba(17, 17, 17, 0.1);
  --border-secondary: rgba(253, 146, 34, 0.1);
  --border-tertiary: #ffffff;
  --border-accent: #fd9222;

  --marker: #4c4c4c;
  --icon-fill-accent: #fd9222;
  --icon-fill-black: #111111;
}

/* Global styles */

body {
  background-color: var(--bg-body);
  color: var(--text-primary);
  font-family: var(--font-family);
  font-size: 14px;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Local styles */

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 896px;
}

.header-nav-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}

.header-nav-logo-icon {
  margin-left: 4px;
  fill: var(--bg-accent-quaternary);
  stroke: var(--bg-accent-primary);
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-list-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--text-primary);
  transition: color 250ms ease-in;
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: var(--text-accent);
}

.header-socials-list {
  display: flex;
  gap: 14px;
}

.header-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  transition: border-color 250ms ease-in;
}

.header-socials-link:hover,
.header-socials-link:focus {
  border-color: var(--border-secondary);
}

.header-socials-icon {
  fill: var(--icon-fill-black);
  transition: fill 250ms ease-in;
}

.header-socials-link:hover .header-socials-icon,
.header-socials-link:focus .header-socials-icon {
  fill: var(--icon-fill-accent);
}

/* HERO */

.hero-container {
  background-color: var(--bg-hero);
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../image/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--text-secondary);

  width: 484px;
  margin-bottom: 32px;
}

.hero-actions {
  display: flex;
  gap: 14px;
}

.hero-actions-btn {
  background-color: var(--bg-accent-primary);
  color: var(--text-secondary);
  font-weight: 600;
  padding: 14px 40px;
  border: 0;
  border-radius: 50px;
  transition: background-color 250ms ease-in, color 250ms ease-in;
}

.hero-actions-btn:hover,
.hero-actions-btn:focus {
  background-color: var(--bg-accent-quaternary);
  color: var(--text-accent);
}

.hero-actions-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.hero-actions-list-link {
  font-weight: 600;
  background-color: transparent;
  color: var(--text-secondary);
  padding: 14px 40px;
  border-radius: 50px;
  border: 1px solid var(--border-tertiary);
  transition: color 250ms ease-in, border-color 250ms ease-in;
}

.hero-actions-list-link:hover,
.hero-actions-list-link:focus {
  color: var(--text-accent);
  border-color: var(--border-accent);
}

.hero-actions-list-link-scroll {
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 14px;
  transition: color 250ms ease-in;
}

.hero-actions-list-link-scroll:hover,
.hero-actions-list-link-scroll:focus {
  color: var(--text-accent);
}

.hero-actions-list-link-scroll-icon {
  background-color: var(--bg-accent-secondary);
  border-radius: 50px;
  width: 38px;
  height: 38px;
  padding: 8px;
  fill: var(--bg-accent-primary);
  transition: background-color 250ms ease-in, fill 250ms ease-in;
}

.hero-actions-list-link-scroll:hover > .hero-actions-list-link-scroll-icon,
.hero-actions-list-link-scroll:focus > .hero-actions-list-link-scroll-icon,
.hero-actions-list-link-scroll-icon:hover,
.hero-actions-list-link-scroll-icon:focus {
  background-color: var(--bg-accent-primary);
  fill: var(--bg-accent-secondary);
}

/* BENEFITS */

.benefits {
  background-color: var(--bg-benefits);
  margin-top: 80px;
  margin-bottom: 60px;
}

.benefits-list {
  display: flex;
  column-gap: 88px;
  padding: 50px 18px;
}

.benefits-list-item {
  position: relative;
  width: calc((100% - 176px) / 3);
}

.benefits-list-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 124px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  right: -43.5px;
  transform: translateY(-50%);
}

.benefits-list-icon-wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.benefits-list-icon {
  fill: var(--bg-accent-primary);
}

.benefits-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: var(--text-secondary);
  margin-bottom: 18px;
}

.benefits-list-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-tertiary);
}

/* INGREDIENTS */

.ingredients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingredients-title > span {
  color: var(--text-accent);
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.ingredients-list-item {
  border-radius: 15px;
  padding: 28px 23px;
  width: calc((100% - 96px) / 4);
  position: relative;
}

.ingredients-list-item-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: var(--bg-accent-secondary);
  transition: transform 250ms ease-in;
}

.ingredients-list-item-icon:hover,
.ingredients-list-item-icon:focus {
  transform: scale(1.1) rotate(-45deg);
}

.ingredients-list-item:nth-child(even) .ingredients-list-item-icon {
  stroke: var(--bg-accent-primary);
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: var(--bg-accent-primary);
}
.ingredients-list-item:nth-child(4n + 2) {
  background-color: var(--bg-accent-secondary);
  border: 1px solid var(--border-accent);
}
.ingredients-list-item:nth-child(4n + 3) {
  background-color: var(--bg-accent-tertiary);
}
.ingredients-list-item:nth-child(4n + 4) {
  background-color: var(--bg-accent-secondary);
  border: 1px solid var(--border-accent);
}

.ingredients-list-item-img {
  margin-bottom: 36px;
}

.ingredients-list-item-subtitle {
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: 14px;
}

.ingredients-list-item:nth-child(odd) .ingredients-list-item-subtitle {
  color: var(--text-secondary);
}
.ingredients-list-item:nth-child(even) .ingredients-list-item-subtitle {
  color: var(--text-primary);
}

/* HOW IT'S MADE (WORKFLOW) */

.workflow {
  padding-top: 60px;
  padding-bottom: 60px;
}

.workflow-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 50px;
}

.workflow-title > span {
  color: var(--text-accent);
}

.workflow-box {
  display: flex;
  column-gap: 20px;
}

.workflow-box-instructions {
  background-color: var(--bg-accent-secondary);
  border-radius: 15px;
  padding: 32px;
}

.workflow-box-instructions-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-primary);
  margin-bottom: 28px;
}

.workflow-box-instructions-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  list-style-type: disc;
  color: var(--marker);
  padding-left: 16px;
  width: 442px;
}

.workflow-box-instructions-list-item-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* PRODUCTS */

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 50px;
}

.products-title > span {
  color: var(--text-accent);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 24px;
}

.products-list-item {
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-accent-secondary);
  overflow: hidden;
  width: calc((100% - 54px) / 4);
  text-align: center;
}

.products-list-item-img {
  margin-bottom: 8px;
}

.products-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-primary);
  margin-bottom: 2px;
}

.products-list-item-desc {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--text-quaternary);
  margin-bottom: 18px;
}

.products-list-item-price {
  background-color: var(--bg-price);
  font-weight: 600;
  color: var(--text-primary);
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid var(--border-primary);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* SELLERS */

.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 50px;
}

.sellers-title > span {
  color: var(--text-accent);
}

.sellers-list {
  display: flex;
  column-gap: 16px;
}

.sellers-list-item {
  width: calc((100% - 32px) / 3);
}

.sellers-list-item-link-img-wrapper {
  position: relative;
  overflow: hidden;
}

.sellers-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 178px 40px 142px;
  color: var(--text-overlay);
  line-height: 1.28;
  overflow: auto;

  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  backdrop-filter: blur(7.5px);

  transform: translateY(100%);
  transition: transform 350ms ease-in-out;
}

.sellers-list-item-link-img-wrapper:hover .sellers-overlay {
  transform: translateY(0);
}

.sellers-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-primary);
  padding: 28px 0;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
  border-left: 1px solid var(--border-primary);
  background-color: var(--bg-accent-secondary);
  text-align: center;
}

/* REVIEWS */

.reviews {
  padding-top: 60px;
  padding-bottom: 120px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 90px;
}

.reviews-title > span {
  color: var(--text-accent);
}

.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  position: relative;
  padding: 56px 24px 24px 24px;
  background-color: var(--bg-accent-secondary);
  text-align: center;
  border-radius: 15px;
  border: 1px solid var(--border-primary);
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  width: calc((100% - 56px) / 3);
}

.reviews-list-item-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.reviews-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-primary);
  margin-bottom: 24px;
}

.reviews-list-item-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-quaternary);
}

.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  color: var(--text-primary);
  padding: 14px 40px;
  border-radius: 50px;
  border: 1px solid var(--border-accent);
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms ease-in, color 250ms ease-in;
}

.reviews-btn:hover,
.reviews-btn:focus {
  background-color: var(--bg-accent-primary);
  color: var(--text-secondary);
}

/* FOOTER */

.footer {
  background-color: var(--bg-footer);
}

/* Footer top */

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
  width: 300px;
}

.footer-title > span {
  color: var(--text-accent);
}

.footer-contacts {
  display: flex;
  column-gap: 50px;
}

/* Social networks */

.footer-contacts-socials-subtitle,
.footer-contacts-feedback-subtitle {
  font-weight: 500;
  line-height: 1.28;
  color: var(--text-secondary);
  margin-bottom: 14px;
  font-size: inherit;
}

.footer-contacts-socials-list {
  display: flex;
  column-gap: 14px;
}

.footer-contacts-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
  transition: border-color 250ms ease-in;
}

.footer-contacts-socials-link:hover,
.footer-contacts-socials-link:focus {
  border-color: var(--border-secondary);
}

.footer-contacts-socials-icon {
  stroke: var(--bg-accent-secondary);
  transition: stroke 250ms ease-in;
}

.footer-contacts-socials-link:hover .footer-contacts-socials-icon,
.footer-contacts-socials-link:focus .footer-contacts-socials-icon {
  stroke: var(--bg-accent-primary);
}

/* Contact us */

.footer-contacts-feedback-list {
  font-style: normal;
}

.footer-contacts-feedback-list-item-link {
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-secondary);
  transition: color 250ms ease-in;
}

.footer-contacts-feedback-list-item-link:hover,
.footer-contacts-feedback-list-item-link:focus {
  color: var(--text-accent);
}

/* Footer bottom */

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav {
  padding-top: 24px;
  padding-bottom: 86px;
}

.footer-nav-list {
  display: flex;
  column-gap: 24px;
}

.footer-nav-list-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
  transition: color 250ms ease-in;
}

.footer-nav-list-item-link:hover,
.footer-nav-list-item-link:focus {
  color: var(--text-accent);
}
