:root {
  --font-family: 'Montserrat', sans-serif;

  --bg-body: #fafafa;
  --bg-hero: rgba(17, 17, 17, 0.6);
  --bg-benefits: #1e1823;
  --bg-footer: #1e1823;
  --bg-price: #fafafa;
  --bg-accent-primary: #fd9222;
  --bg-accent-secondary: #ffffff;
  --bg-accent-tertiary: #1e1823;
  --bg-accent-quaternary: #fcf1e0;

  --text-primary: #111111;
  --text-secondary: #ffffff;
  --text-tertiary: rgba(255, 255, 255, 0.7);
  --text-quaternary: rgba(17, 17, 17, 0.7);
  --text-accent: #fd9222;

  --border-primary: rgba(17, 17, 17, 0.1);
  --border-secondary: rgba(253, 146, 34, 0.1);
  --border-tertiary: #ffffff;
  --border-accent: #fd9222;
}

/* Global styles */

body {
  background-color: var(--bg-body);
  color: var(--text-primary);
  font-family: var(--font-family);
  font-size: 14px;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Local styles */

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 896px;
}

.header-nav-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}

.header-nav-logo-icon {
  margin-left: 4px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-list-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--text-primary);
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: var(--text-accent);
}

.header-socials-list {
  display: flex;
  gap: 14px;
}

.header-socials-list-item {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
}

.header-socials-list-item:hover,
.header-socials-list-item:focus {
  border-color: var(--border-secondary);
}

/* HERO */

.hero {
  margin-bottom: 20px;
}

.hero-container {
  background-color: var(--bg-hero);
  border-radius: 30px;
  padding: 366px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--text-secondary);

  width: 484px;
  margin-bottom: 32px;
}

.hero-actions {
  display: flex;
  gap: 14px;
}

.hero-actions-btn {
  background-color: var(--bg-accent-primary);
  color: var(--text-secondary);
  font-weight: 600;

  padding: 14px 40px;
  border: 0;
  border-radius: 50px;
}

.hero-actions-btn:hover,
.hero-actions-btn:focus {
  background-color: var(--bg-accent-quaternary);
  color: var(--text-accent);
}

.hero-actions-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.hero-actions-list-link {
  font-weight: 600;
  background-color: transparent;
  color: var(--text-secondary);

  padding: 14px 40px;
  border-radius: 50px;
  border: 1px solid var(--border-tertiary);
}

.hero-actions-list-link:hover,
.hero-actions-list-link:focus {
  color: var(--text-accent);
  border-color: var(--border-accent);
}

.hero-actions-list-link-scroll {
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--text-secondary);

  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-actions-list-link-scroll:hover,
.hero-actions-list-link-scroll:focus {
  color: var(--text-accent);
}

.hero-actions-list-link-scroll-icon {
  background-color: var(--bg-accent-secondary);
  border-radius: 50px;
  width: 38px;
  height: 38px;
  padding: 8px;
}

.hero-actions-list-link-scroll:hover > .hero-actions-list-link-scroll-icon,
.hero-actions-list-link-scroll:focus > .hero-actions-list-link-scroll-icon,
.hero-actions-list-link-scroll-icon:hover,
.hero-actions-list-link-scroll-icon:focus {
  background-color: var(--bg-accent-primary);
}

/* BENEFITS */

.benefits {
  background-color: var(--bg-benefits);
}

.benefits-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: var(--text-secondary);
}

.benefits-list-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-tertiary);
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
}

.ingredients-title > span {
  color: var(--text-accent);
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: var(--bg-accent-primary);
}
.ingredients-list-item:nth-child(4n + 2) {
  background-color: var(--bg-accent-secondary);
}
.ingredients-list-item:nth-child(4n + 3) {
  background-color: var(--bg-accent-tertiary);
}
.ingredients-list-item:nth-child(4n + 4) {
  background-color: var(--bg-accent-secondary);
}

.ingredients-list-item-subtitle {
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-list-item:nth-child(odd) .ingredients-list-item-subtitle {
  color: var(--text-secondary);
}
.ingredients-list-item:nth-child(even) .ingredients-list-item-subtitle {
  color: var(--text-primary);
}

.workflow-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
}

.workflow-title > span {
  color: var(--text-accent);
}

.workflow-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-primary);
}

.workflow-list-item-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
}

.products-title > span {
  color: var(--text-accent);
}

.products-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-primary);
}

.products-list-item-desc {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--text-quaternary);
}

.products-list-item-price {
  background-color: var(--bg-price);
  font-weight: 600;
  color: var(--text-primary);
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
}

.sellers-title > span {
  color: var(--text-accent);
}

.sellers-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-primary);
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary);
}

.reviews-title > span {
  color: var(--text-accent);
}

.reviews-list-item {
  background-color: var(--bg-accent-secondary);
}

.reviews-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--text-primary);
}

.reviews-list-item-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-quaternary);
}

.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  color: var(--text-primary);
}

.reviews-btn:hover,
.reviews-btn:focus {
  background-color: var(--bg-accent-primary);
  color: var(--text-secondary);
}

.footer {
  background-color: var(--bg-footer);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
}

.footer-title > span {
  color: var(--text-accent);
}

.footer-socials-subtitle,
.footer-feedback-subtitle {
  font-weight: 500;
  line-height: 1.28;
  text-align: center;
  color: var(--text-secondary);
}

.footer-feedback-list-item-link {
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-secondary);
}

.footer-feedback-list-item-link:hover,
.footer-feedback-list-item-link:focus {
  color: var(--text-accent);
}

.footer-nav-list-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
}

.footer-nav-list-item-link:hover,
.footer-nav-list-item-link:focus {
  color: var(--text-accent);
}
